!!!
%html
  %head
    %title
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="stylesheet" media="screen, projection" type="text/css"
          href="/css/screen.css")
    %link(rel="stylesheet" media="print" type="text/css" href="/css/print.css")
    /[if IE]
      %link(rel="stylesheet" media="screen, projection" type="text/css"
            href="/css/ie.css")

  %body
    #container
      #header
      #content
        != yield
      #sidebar
      #footer
